flake8
flake8-black
pytest
black{% if cookiecutter.use_click == "y" %}
click{% endif %}
isort{% if cookiecutter.use_jupyterlab == "n" %}
jupyter-console{% else %}
jupyterlab{% endif %}
mkdocs
mkdocs-include-markdown-plugin
mkdocstrings[python]
tox
validate-pyproject[all]
